@import "tailwindcss";

.section-container {
	@apply flex justify-center items-center min-h-screen h-screen w-full text-center py-24 px-6 mb-32 relative snap-start;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}
.scroll-y-container {
	@apply overscroll-y-contain overflow-y-auto overflow-x-hidden snap-y snap-center snap-normal snap-proximity;
}

.scroll-x-container {
	@apply overscroll-x-contain overflow-x-auto overflow-y-hidden snap-x snap-center snap-normal snap-proximity;
}

.animate-scroll {
	animation: scroll 100s linear infinite;
}

@layer base {
	.scrollbar-hide {
		scrollbar-width: none;
		-ms-overflow-style: none;
		::-webkit-scrollbar {
			display: none;
		}
	}
}
